include mixins/svg

block vars
	- var htmlClass = []
	- var htmlAttrs = {}
	- var lang = 'ru'
	- var locale = 'ru_RU'
	- var viewport = 'width=device-width'
	- var url = ''
	- var title = ''
	- var description = ''
	- var twitterTitle = ''
	- var twitterDescription = ''
	- var image = ''

doctype html
html(class=htmlClass.join(' ') lang=lang)&attributes(htmlAttrs)
	head
		block meta
			meta(charset="utf-8")
			meta(http-equiv="X-UA-Compatible" content="IE=edge")
			meta(name="viewport" content=viewport)
			meta(name="description" content=description)
			meta(name="og:type" content="website")
			meta(name="og:url" content=url)
			meta(name="og:title" content=title)
			meta(name="og:description" content=description)
			meta(name="og:image" content=image)
			meta(name="og:locale" content=locale)
			meta(name="twitter:card" content="summary_large_image")
			meta(name="twitter:title" content=twitterTitle || title)
			meta(name="twitter:description" content=twitterDescription || description)
		title
			block title
				= title
		block links
			link(rel="image_src" href=image || '')
			link(rel="stylesheet" href="css/main.css?v=" + Date.now())
	body
		block content
		block scripts
			script(src="js/vendor.js?v=" + Date.now())
			script(src="js/main.js?v=" + Date.now())
